/* Base Styles */
@import url('./reset.css');
@import url('./header.css');
@import url('./footer.css');

* {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

html {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
}

body {
  color: #4f4f4f;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  color: #4f4f4f;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: 'Nunito', sans-serif;
}
