header {
  background: lightgray;
  padding: 2% 2% 0;
}

nav {
  display: flex;
  padding: 2%;
}

h1 {
  font-size: 5rem;
}

a {
  background: gray;
  color: white !important;
  padding: 0.5% 1%;
  text-align: center;
  width: 7.5%;
}

a:hover {
  background: black;
}

a.disabled {
  background: black;
  pointer-events: none;
}
