@import url('./shared/base.css');

.info {
  align-items: flex-end;
  display: flex;
}

.left {
  margin-right: 1%;
  padding: 2%;
  width: 100%;
}

.left img {
  width: 100%;
}

.right {
  padding: 2%;
  margin-left: 1%;
  width: 100%;
}

.right h2 {
  font-size: 3rem;
  margin-bottom: 2%;
}

.right button {
  align-self: center;
  cursor: pointer;
  height: 5rem;
  margin-top: 4%;
  width: 40%;
}

.right div {
  margin-top: 2%;
  width: 100%;
}

.right p {
  display: inline;
  font-size: 2rem;
  vertical-align: text-bottom;
  width: 60%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
}

.gallery div {
  width: 25%;
}

.gallery img {
}

.gallery p {
}
